$color-white: #FDFDFD
$color-main-lighter: #EFEFEF
$color-main-light: #b1ccd8
$color-main: #3F5765
$color-main-dark: #2B3A42
$color-main-darker: #1d2c35
$color-black: #12181c

$color-accent-light: #79e8ea
$color-accent: #07cbcf
$color-accent-dark: #04b7bf

$menu-width: 300px
$menu-right-margin: 20px

$color-term-black: #555753
$color-term-red: #ef2929
$color-term-green: #8ae234
$color-term-yellow: #fce94f
$color-term-blue: #729fcf
$color-term-magenta: #ad7fa8
$color-term-cyan: #34e2e2
$color-term-white: #eeeeec

h2
  font-family: 'Source Code Pro', monospace
  font-weight: 700
  font-size: 1.8rem

hr
  margin-bottom: 2rem

.label
  background-color: $color-accent
  color: $color-white

::selection
  background: $color-main-light
  color: $color-white
