$color-main: #b2edf7
$color-main-light: #ddefee
$color-main-dark: #50b3c3
$color-main-darker: #1e3852

$menu-width: 300px
$menu-right-margin: 20px

h2
  font-family: 'Source Code Pro', monospace
  font-weight: 700
  font-size: 1.8rem
