$color-white: #FDFDFD
$color-main-lighter: #EFEFEF
$color-main-light: #b1ccd8
$color-main: #3F5765
$color-main-dark: #2B3A42
$color-main-darker: #1d2c35
$color-black: #12181c

$color-accent-light: #96edd6
$color-accent: #50dcb7
$color-accent-dark: #06c693

$menu-width: 300px
$menu-right-margin: 20px

h2
  font-family: 'Source Code Pro', monospace
  font-weight: 700
  font-size: 1.8rem

.label
  background-color: $color-accent
  color: $color-white

.command
  font-family: 'Source Code Pro', monospace
  color: $color-main-light
  font-size: 1rem
  font-weight: 700
  margin-left: 12px

  &__prompt
    font-weight: 500
    font-size: 1.1rem

  &__symbol
    font-size: .85rem
